
  body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background: linear-gradient(#21C08B, #AB88FF );
  }
  .header {
    /*background-color: rgb(255, 47, 255);*/
    background-image: url("header.png");
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
   
  }
  .header__menu {
    margin-right: 30px;
  }
  .header__menu ul {
    display: none;
    list-style: none; 
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right; 
    margin: 0px 0px 0px -25px;  
  }
  .header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
  }
  .header__menu--profile p {
    margin: 0px;
    color:  white;
  }

  .header__menu:hover ul, ul:hover {
    display: block;
  }

.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;

}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
  /*.main {
    height: 180px;
  }*/
  .main_title {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .categories__title {
    color: black;
    font-size: 26px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
  .input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid  white;
    border-radius: 33px;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
  }
  ::placeholder {
    color:white
  }
  .carousel {
    width: 100%;
    overflow: scroll;
    padding-top: inherit;
    padding: 30px;
    position: relative;
}
.carousel__container { 
 white-space: nowrap;
 margin: 70px 0px;
 padding-bottom: 10px;
}
.carousel-item {
    background-color: aqua;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden; /*para que la foto tenga puntas redondeadas*/
    margin-right: 10px;
    display: inline-block;
    cursor: pointer; /*Para que sea una mano el cursor*/
    transition: 450ms all; /*la transición de la animación*/
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item { /*se le coloca una virgulilla se coloca para indicar q tambien es para otro item  */
   transform: translate3d(100px, 0, 0); /*cuando se le da hover todos los elementos se desplazan a la derecha */
}
.carousel__container:hover .carousel-item {
    opacity: 0.3; /*para q la imagen sea más clara*/
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5); /*Para que la imagen sea en  escala un poco más grande */
    opacity: 1;
}
.carousel-item__img {
    width: 210px;
    height: 250px;
    object-fit: cover; /*para que la imagen recupere su tamaño original*/
}
.carousel-item_details {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,rgba(0, 0, 0, 0.9) 100%); /*Con esto se ve una especi de desvanecido, indicando q sea negro 0 0 0  con uan opacidad de 0.9*/
font-size: 10px; /* fuente de escritura*/
opacity: 1;
transition: 450ms opacity;
padding: 10px;
position: absolute;
top: 0; 
left: 0;
right: 0;
bottom: 0;
}

.footer {
    background: #AB88FF;
    display: flex;
    align-items: center; /*alineado de nuestros elementos*/
    height: 100px;
    width: 100%;
  }
  .footer a {
      color: white;
      cursor: pointer;
      font-size: 14px;
      padding-left: 50px ;
      text-decoration: none;
    }
  .login a:hover {
      text-decoration: underline;
    }
    @media only screen and (max-width: 600px) {
      .login__container {
          background-color: transparent;
          border: none;
          padding: 0px;
          width: 100%;
      }
      @media only screen and (max-width: 600px) {
        .login__container {
            background-color: transparent;
            border: none;
            padding: 0px;
            width: 100%;  
    }
    .footer {
      align-items: flex-start;
      flex-direction: column;
    }